* {
  margin: 0;
  padding: 0;

  --main-bg: var(--color3);
  --header-bg: var(--color1);
  --header-font: var(--color3);
  --header-font-hover: var(--color4);
  --header-font-Quote: var(--color5);
  --header-font-active: #fff;
  --quoteContainer-bg: var(--color6);
  --quoteWhoAddComment-font: white;
  --quote--voteUp-color: green;
  --quote--voteDown-color: red;
  --quote--voteDisabled-color: grey;
  --quote--deleteBtn-color: var(--color2);
  --blogquote-bg: #eee2de;
  --blogquote-font: #555555;
  --blogquoteAutor-font: #333;
  --blogquote--sign-color: var(--color2);
  --authPage-font-color: var(--color2);
  --authPage-btn-hover: #52b788;
  --authPage-spanSignUp: var(--color1);
  --authPage-spanSignUp-hover: var(--color2);
  --authPage-input-border: var(--color1);
  --hamburger-font: var(--color3);
  --burgerMenu-bg: var(--color3);
  --burgerMenu-font: var(--color1);
  --burgerMenu-font-hover: var(--color2);
  --burgerMenu-border-color: var(--color1);
  --burgerMenu-a-color: var(--color1);
  --burgerMenu-activeLink-bg: var(--color1);
  --burgerMenu-activeLink-color: var(--color3);
  --AddNewQuote-bg: #eee2de;
  --AddNewQuote-font: var(--color1);
  --AddNewQuote-input-font: var(--color1);
  --AddNewQuote-acordeon-btn-border: var(--color1);
  --AddNewQuote-form-border: var(--color1);
  --AddNewQuote-form-font: var(--color1);
  --AddNewQuote-btn-hover-bg: #78c0a8;
  --AddNewQuote-btn-hover-color: #fff;
  --commentList-bg: #eee2de;
  --commentList-font-color: var(--color-1);
  --commentList-comment-bg: #fff;
  --commentList-comment-color: var(--color1);
  --comment-header-bg: rgb(247, 240, 240);
  --comment-mainComment-color: rgb(95, 89, 89);
  --comment-btn-bg: var(--color3);
  --addNewComment-form-textera-color: var(--color1);
  --addNewComment-btn-bg: var(--color3);
  --commentEditForm-btn-bg: var(--color3);
  --commentEditForm-btn-color: var(--color1);
  --profileForm-form-border: var(--color1);
  --profileForm-form-color: var(--color1);
  --profileForm-btn-border: var(--color1);
  --profileForm-btn-border: var(--color1);
  --profileForm-btn-bg-hover: #78c0a8;
  --profileForm-btn-color-hover: #fff;
}

/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@400;700&display=swap&subset=latin,latin-ext"); */
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@400;700&display=swap&subset=latin,latin-ext");

.container {
  background-color: var(--main-bg);
  min-height: calc(100vh - 160px);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5rem 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--color2);
}

.darkMode {
  --color1: #545c6f;
  --color2: #f1faee;
  --color3: #1c1b19;
  --color4: #1c1b19;
  --color5: #e63946;
  --color6: ;
}
.lightMode {
  --color1: #1d3557;
  --color2: #457b9d;
  --color3: #f1faee;
  --color4: #a8dadc;
  --color5: #e63946;
  --color6: rgb(241, 234, 234);
}
