.notification {
  position: fixed;
  bottom: 50px;
  z-index: 200;

  right: 5%;
  height: 4.6rem;
  background-color: #ffffff;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  color: #a2a2a3;
  border-radius: 5px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.notification span:nth-of-type(1) {
  display: block;
  content: "";
  /* background-color: #2e86eb; */
  left: 10px;
  width: 6px;
  height: 90%;
  border-radius: 6px;
  margin-right: 1.5rem;
}
.notification span:nth-of-type(2) {
  display: block;
  content: "i";
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  margin-right: 1.5rem;
  /* background-color: #2e86eb; */
  color: #fff;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.content {
  /* flex-grow: 1; */
  margin-right: 30px;
}

.notification p {
  font-size: 1rem;
  /* line-height: 2; */
}

.notification h2 {
  color: #292d37;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.cross1 {
  height: 25px;
  width: 2px;
  margin-right: 20px;
  background-color: #bfc0c3;
  transform: rotate(45deg);
  z-index: 1;
}

.cross2 {
  height: 25px;
  width: 2px;
  background-color: inherit;
  transform: rotate(90deg);
  z-index: 2;
}

.error span {
  background-color: #f0a92c;
}

.success span {
  background-color: #1fa779;
}

.info span {
  background-color: #2e86eb;
}

.slideEnter {
  transform: translateX(120%);
}
.slideEnterActive {
  transform: translateX(0%);
  transition: transform 700ms;
}
.slideExit {
}
.slideExitActive {
  transform: translate(120%);
  transition: transform 700ms;
}
