.container {
  position: relative;
  display: flex;
  align-items: center;
  /* border: 2px #fff solid;
  padding: 5px; */
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: #b3bbbe;
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.spot {
  width: 10px;
  height: 10px;
  background-color: #46d161;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  bottom: -2px;
}
.container p {
  display: none;
}

@media (min-width: 480px) {
  .container p {
    display: block;
  }
}
